<div class="mainContainer">
  <div class="row min-height-600 no-flex-wrap">
    <div class="card col col-md-2 mr-2">
      Stock it easy !
    </div>
    <div class="card col col-md-10 pl-0 pr-0 background-grey border-none">
      <div class="col pl-0 pr-0 d-flex flex-column justify-content-between">
        <div class="card  pl-0 pr-0 min-height-80 mb-2">
          header
        </div>
        <div class="card  pl-0 pr-0 min-height-420">
          main
        </div>
        <div class="card  pl-0 pr-0 min-height-80 mt-2">
          footer
        </div>
      </div>
    </div>

  </div>
</div>
<router-outlet></router-outlet>
