.mainContainer{
  margin: 50px;
}
.min-height-600{
  height: 600px;
}
.no-flex-wrap{
  flex-wrap: inherit !important;
}
.mr-2{
  margin-right: 2px!important;
}
pr-0{
  padding-right: 0px!important;
}
pl-0{
  padding-left: 0px!important;
}

