<div class="mainContainer">
  <div class="row min-height-600  no-flex-wrap">
    <div class="card col col-md-2 mr-2 min-width-270">
      <div class="col">
        <div class="text-center m-3">
          <span> Stock it easy !</span>
        </div>
        <app-menu></app-menu>
      </div>
    </div>
    <div class="card col col-md-10 pl-0 pr-0 background-grey border-none">
      <div class="col pl-0 pr-0 d-flex flex-column justify-content-between min-width-750">
        <div class="card  pl-0 pr-0 min-height-80 mb-2 p-4">
          <app-header></app-header>
        </div>
        <div class="card  pl-0 pr-0 min-height-420">
          <router-outlet></router-outlet>
        </div>
        <div class="card  pl-0 pr-0 min-height-80 mt-2">
          footer
        </div>
      </div>
    </div>

  </div>
</div>
