<div class="row mb-1 custom-border">
  <!--  Image du produit-->
  <div class="col-md-2 border-right mr-0 p-1 text-center">
    <img src="assets/product.png" width="100px" height="100px"/>
  </div>
  <!--  Détails de l'article-->
  <div class="col-md-4 border-right m-0">
    <div class="col">
      <div class="row mt-1">
        <div class="col-md-1 blue-color"><i class="fas fa-info-circle"></i></div>
        <div class="col-11">Code article</div>
      </div>
      <div class="row">
        <div class="col-md-1 blue-color"><i class="fas fa-info-circle"></i></div>
        <div class="col-11">Designation</div>
      </div>
      <div class="row">
        <div class="col col-md-1 blue-color"><i class="fa-solid fa-hand-holding-dollar"></i></div>
        <div class="col-11">Prix HT</div>
      </div>
      <div class="row">
        <div class="col-md-1 blue-color"><i class="fa-solid fa-hand-holding-dollar"></i></div>
        <div class="col-11">Prix TTC</div>
      </div>
    </div>
  </div>
  <!--  Détails catégorie de l'article-->
  <div class="col-md-3 border-right m-0">
    <div class="row">
      <div class="col-md-2 mt-5">
        <i class="fa-solid fa-flag-checkered blue-color"></i>
      </div>
      <div class="col-md-10">
        <div class="row mt-4">
          <div class="col-md-12">Code catégorie</div>
          <div class="col-md-12 mt-2">Description catégorie</div>
        </div>
      </div>
    </div>
  </div>
  <!--  Bouttons d'actions-->
  <div class="col-md-3 border-right m-0">
    <div class="row mt-3">
      <div class="col-md-4">
        <button type="button" class="btn btn-link a-without-line">
          <i class="fa-solid fa-rectangle-list"></i>
          <p>Afficher</p>
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link a-without-line">
          <i class="fa-solid fa-pen-to-square orange-color"></i>
          <p class="orange-color">Modifier</p>
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link a-without-line">
          <i class="fa-solid fa-trash-can red-color"></i>
          <p class="red-color">Supprimer</p>
        </button>
      </div>
    </div>
  </div>
</div>
