<div class="row mb-1 custom-border">
  <div class="col-md-3 border-right m-0">
    <div class="row  text-center">
      <div class="col-11"><i class="fa-regular fa-calendar-days blue-color"></i>&nbsp;01.12.1993</div>
    </div>
  </div>
  <div class="col-md-3 border-right">
    <div class="row  text-center">
      <h5>15</h5>
    </div>
  </div>
  <div class="col-md-3 border-right">
    <div class="row  text-center">
      <div class="col-11"><i class="fa-solid fa-square-minus red-color"></i>&nbsp;Sortie</div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="row  text-center">
      <div class="col-11"><i class="fa-solid fa-basket-shopping"></i>&nbsp;Commande client</div>
    </div>
  </div>
</div>
