<div class="col m-2">
  <div class="col-md-12 mb-3 ml-4">
    <img src="../../../../assets/product.png" class="rounded-circle" width="150px" height="150px"/>
  </div>
  <div class="col-md-12">
    <div class="col-md-12 mb-3 ml-4">
      <h2><i class="fas fa-info-circle blue-color"></i>&nbsp; Informations du {{origin}}</h2>
    </div>
    <div class="col-md-12">
      <form>
        <div class="row mb-3 ml-4">
          <div class="col-md-5">
            <input type="text" class="form-control" placeholder="Nom">
          </div>
          <div class="col-md-5">
            <input type="text" class="form-control" placeholder="Adresse 1">
          </div>
        </div>
        <div class="row  mb-3 ml-4">
          <div class="col-md-5">
            <input type="text" class="form-control" placeholder="Prénom">
          </div>
          <div class="col-md-5">
            <input type="text" class="form-control" placeholder="Adresse 2 ">
          </div>
        </div>
        <div class="row  mb-3 ml-4">
          <div class="col-md-5">
            <input type="text" class="form-control" placeholder="Email">
          </div>
          <div class="col-md-5">
            <input type="text" class="form-control" placeholder="Ville ">
          </div>
        </div>
        <div class="row  mb-3 ml-4">
          <div class="col-md-5">
            <input type="text" class="form-control" placeholder="Teléphone">
          </div>
          <div class="col-md-5">
            <input type="text" class="form-control" placeholder="Code postale ">
          </div>
        </div>
        <div class="row  mb-3 ml-4">
          <div class="col-md-5">
          </div>
          <div class="col-md-5">
            <input type="text" class="form-control" placeholder="Pays">
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-10 text-right">
    <button type="button" class="btn btn-primary m-1" (click)="onSave()"><i class="fa-regular fa-floppy-disk"></i>&nbsp;Enregistrer
    </button>
    <button type="button" class="btn btn-danger m-1" (click)="onCancel()"><i class="fa-solid fa-xmark"></i>&nbsp;Annuler</button>
  </div>
</div>
