<div class="btn-group" role="group" aria-label="Pagination">
  <button type="button" class="btn btn-outline-secondary"><i class="fa-solid fa-angles-left"></i></button>
  <button type="button" class="btn btn-outline-secondary"><i class="fa-solid fa-chevron-left"></i></button>
  <button type="button" class="btn btn-outline-secondary">1</button>
  <button type="button" class="btn btn-outline-secondary">2</button>
  <button type="button" class="btn btn-outline-secondary">3</button>
  <button type="button" class="btn btn-outline-secondary">4</button>
  <button type="button" class="btn btn-outline-secondary">5</button>
  <button type="button" class="btn btn-outline-secondary"><i class="fa-solid fa-chevron-right"></i></button>
  <button type="button" class="btn btn-outline-secondary"><i class="fa-solid fa-angles-right"></i></button>
</div>
