/* You can add global styles to this file, and also import other style files */
body {
  background-color: #eff2f5 !important;
}

.background-grey {
  background-color: #eff2f5 !important;
}

.border-none {
  border: none !important;
}
.min-height-80{
  min-height: 80px;
}
.min-height-420{
  min-height: 420px;
}
.border-right{
  margin-right: 0!important;
  border-right: solid #eff2f5 ;
}
.custom-border{
  border: solid #eff2f5 ;
  border-radius: 3px;
}
.blue-color{
  color: #037bf2;
}
.red-color{
  color: crimson;
}
.orange-color{
  color: goldenrod;
}
.a-without-line{
  font-size: 85% !important;
  text-decoration: none!important;
}
.text-right {
  text-align: right !important;
}
.ml-4 {
  margin-left: 1rem !important;
}



